* {
  font-family: '"Source Code Pro", monospace';
}

.aoc-link {
  color: #009900;
}

.aoc-link:hover {
  color: #99ff99;
  cursor: pointer;
}

.aoc-glow{
  text-shadow: 0 0 2px #00cc00, 0 0 5px #00cc00
}

.aoc-darkfield{
  border: 1px solid #333340; 
  background-color: #10101a;
}

[no-wrap]{
  white-space: nowrap;
}

ul {
  list-style-type: none;
}

template > div {
  padding: 0;
}

.row {
  margin: 0;
}

.row > div {
  padding: 0;
}

[scrollable] {
  overflow-y: auto;
}

#editInputTA:focus{
  border: 1px solid #333340; 
  background-color: #10101a;
}

[clickable]{
  cursor: pointer;
}

.aoc-button{
  border: none;
  background-color: transparent;
}